<div class="layui-card">
    <div class="layui-card-header">{% system with name="SiteName" %}</div>
    <div class="layui-card-body layui-text">
        <table class="layui-table">
            <colgroup>
                <col width="100">
                <col>
            </colgroup>
            <tbody>
            <tr>
                <td>当前版本</td>
                <td>
                    v0.0.7
                </td>
            </tr>
            <tr>
                <td>开发者</td>
                <td>
                    baoshuangh
                </td>
            </tr>
            <tr>
                <td>主要用途</td>
                <td>记录个人学习、成长笔记，以及分享个人在项目中遇到的坑</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>